.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-group.with-header .list-group-item:first-child {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control:disabled {
  background-color: white;
}

.btn-outline-success:hover {
  background-color: transparent;
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-danger:hover {
  background-color: transparent;
  color: #dc3545;
  border-color: #dc3545;
}