{% extends "base.html" %}
{% block title %}Nexa Controller{% endblock %}
{% block body %}
<div class="list-group with-header">
  {% for room in rooms.values() %}
    <div class="list-group-item">
      <h2 class="mb-3">{{ room.name }}</h3>
        {% for device_id in room.device_ids %}
          <div class="input-group mb-2">
            <input type="text" class="form-control" value="{{ devices[device_id].name }}" disabled>
            <div class="input-group-append w-50">
              <button class="btn btn-outline-success w-50 switch" type="button" data-switch="on" data-device-id="{{ device_id }}">On</button>
              <button class="btn btn-outline-danger w-50 switch" type="button" data-switch="off" data-device-id="{{ device_id }}">Off</button>
            </div>
          </div>
        {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}

